<div >
  <div>
    <div>
      <p>Title: {{post?.title}}</p>
      <p>Score: {{post?.score}}</p> <input type = "button" value = "upvote"><input type = "button" value = "downvote">
      <p>Creation date: {{post?.creationDate}}</p>
      <p>Author: {{post?.author?.email}}</p>
      <br>
    </div>
    Content:
    <p>{{post?.content}}</p>

    <div>
      Tags:
      <div *ngFor="let tag of post?.tags">
        <p>{{tag?.name}}</p>
      </div>
    </div>

    <hr>

    <div>
      <h3 >Reply: </h3><input type = "text"#answerContent>
      <input type = "button" value = "Submit an answer" (click) = "createAnswer()">
      <br>
      Answers:

      <br><br>
      <div *ngFor="let answer of post?.answers">
        <p>Answer: {{answer?.content}}</p>
        <p>Score: {{answer?.score}}</p>
        <button [hidden] = "hideVoteButton()" value = "upvote" (click) = "upvoteAnswer(answer)"></button>
        <button [hidden]= "hideVoteButton()" value = "downvote" (click) = "downvoteAnswer(answer)" ></button>
        <p>Author: {{poster?.email}}</p>
        <input *ngIf = "showButton()" type = "button" value = "edit">
        <input *ngIf = "showButton()" type = "button" value = "delete">
        <br> <br>
      </div>
    </div>



  </div>
</div>
