<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-background box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]="['/']">StackOverflow</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <div class="search-container">
            <input type="text" placeholder="Search..">

          </div>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/questions']">Questions</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/users']">Users</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/tags']">Tags</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['']" (click)="registerAccount()">{{ getRegisterAccountDisplay() }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['']" (click)="loginLogout()">{{ getLoginLogoutDisplay() }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>