<div >
  <div>
    <div>
      <p>Title: {{post?.title}}</p>
      <p>Score: {{post?.score}}</p>
      <br>
    </div>
    Content:
    <p>{{post?.content}}</p>
    <hr>
    <!--<div class="d-flex justify-content-start">
      <div *ngFor="let tag of question?.tags">
        <app-tag-item [tag]=tag></app-tag-item>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <p>{{post?.creation_date}}</p>
      <p>{{post?.author?.name}} {{post?.author?.score}}</p>
    </div>
    -->
  </div>
</div>
