<div >
  <div >
    <div (click) = "redirect()">
      <p>Title: {{post?.title}}</p>
      <p>Score: {{post?.score}}</p>
      <button [hidden] = "hideVoteButton()"(click) = "upvotePost()"> upvote</button>
      <button [hidden]= "hideVoteButton()"(click) = "downvotePost()" >downvote </button>
      <p>Creation date: {{post?.creationDate}}</p>
      <p>Author: {{post?.author?.email}}</p>
      <input *ngIf = "showButton()" type = "button" value = "remove this post" (click) = "removePost(post)">
      <br>
    </div>
    Content:
    <p>{{post?.content}}</p>

    <div>
      Tags:
      <div *ngFor="let tag of post?.tags">
        <p>{{tag?.name}}</p>
      </div>
    </div>

    <hr>



  </div>
</div>
